:root {
    --colorprincipal: #4b22f4;
    --colortabs: #878fb8;
}

::-webkit-scrollbar {
    background-color: white;
}

html {
    font-size: 62.5%;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;

}

* {
    padding: 0px;
    margin: 0px;

}

img {
    max-width: 100%;
}

.wrappinchi {

    max-inline-size: 160rem;
    margin: 0 auto;

}

.cabecera {
    background-color: var(--colorprincipal);
    background: linear-gradient(90deg, #4b22f4 60%, #ffff 20%);
   

}

.menuresp {
    display: none;
}

.cajalogonav {
    display: flex;
    align-items: center;
    gap: 3rem;

}

.contenedor {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--colorprincipal);
    background: linear-gradient(90deg, #4b22f4 60%, #ffff 20%);
    margin: 0 auto;
}

.logo {
    list-style: none;
    font-weight: 700;
    font-size: 2rem;
    color: white;
    cursor: pointer;
}

.menuresponsive {
    display: none;
}

.listanavegacion {
    display: flex;
    gap: 2.5rem;
}

li {
    list-style: none;
    font-weight: 700;
    font-size: 14px;
    color: white;
    cursor: pointer;
}

.botonesRegistro {
    display: flex;
    gap: 2rem;
    align-items: center;
    padding: 1rem;

}
.botonuno{
    border-color: var(--colorprincipal);
    color: var(--colorprincipal);
    background-color: white;
    font-size: 16px;
    font-weight: 700;
}
.botonuno a{
    color:var(--colorprincipal)
}
.botones {
    padding: 1rem 2rem;
    border-radius: 1rem;
}

.botondos {
    color: var(--colorprincipal);
    font-weight: 700;
    border: none;
    font-size: 16px;
    background-color: var(--colorprincipal);
    color: white;
    padding: 1rem 3.5rem;

}

.slider{
    z-index: -100;
}
/**Banner1**/

.banner1 {
    background-color: var(--colorprincipal);
    background: linear-gradient(90deg, #4b22f4 59%, #ffff 50%);
}

.contenedorbanner1 {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center
}

.cajacontenedor1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;

}

h1.titulo {
    font-size: 7.5rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    color: white;
    line-height: 68px;
    padding-bottom: 2rem;
}

.parrafo1 {
    font-size: 18px;
    line-height: 28px;
    color: white;
    font-weight: 400;
}

.botonesbanner1 {
    display: flex;
    gap: 2rem;
    padding: 2rem;
    align-self: flex-start;
    padding-top: 4rem;
}

.botonbanner1 {
    padding: 1.2rem 3.5rem;
    border-radius: 0.5rem;
    border: none;
    color: var(--colorprincipal);
    font-size: 16px;
    font-weight: 700;
}

.botondosbanner1 {
    border-radius: 1rem;
    border: none;
    padding: 1.2rem 3.5rem;
    background-color: var(--colorprincipal);
    color: white;
    font-size: 16px;
    font-weight: 700;
}

.imagenbanner1 {
    width: 100%;
    max-width: 100%;
}

.width {
    width: 100%;
    max-width: 100%;
    min-width: 530px;

}

.display {
    display: block;
}

/**IMAGENESMARCAS**/

.imagenesempresas {
    width: 100%;
}

.contenedorimagenes {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
    margin: 0 auto;
}

.subtitulo {
    font-size: 1.5rem;
    margin-top: 3rem;
}

.mil {
    font-size: 20px;
    color: var(--colorprincipal);
    margin-right: 2rem;
    font-weight: 700;
    display: inline-block;
    padding-bottom: 0.4rem;
}

.marcas {
    height: 30px;
    margin-top: 3rem;
}

.imagenesimagenes {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6rem;
}

.subtitulobanner2 {
    text-align: center;
    font-size: 4rem;
    line-height: 64px;
    font-weight: 700;
    padding: 8rem 0;
    width: 70%;
    margin: 0 auto;
}

[data-tab-content] {
    display: none;
}

.active[data-tab-content] {
    display: block;
}

.cajatabs {
    display: flex;
    justify-content: center;
    gap: 4.5rem;
}

.bannertabs {
    width: 100%;
    background-color: #f6f7f9;

}

.tab-content {
    margin-top: 3rem;
    width: 90%;
    margin: 0 auto;
    background-color: #f6f7f9;
}

.listatab {
    color: var(--colortabs);
    padding-bottom: 1rem;
}

.listatab:hover {
    color: grey
}

.listatab:active {
    color: var(--colorprincipal);
    border-bottom: 3px solid var(--colorprincipal);
}


.titulotabs1 {
    color: var(--colorprincipal);
    font-size: 3.2rem;
    line-height: 40px;
    font-weight: 700;
    text-align: center;
    margin-top: 3rem;
    padding: 3rem 0;
}

.parrafotabs1 {
    font-size: 1.8rem;
    line-height: 2.8rem;
    font-weight: 500;
    color: #181b32;
    text-align: center;
    margin-top: 3rem;

}

.cajastabs {
    display: flex;
    gap: 2.5rem;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
    color: #181b32;
    line-height: 18px;
    margin-top: 3rem;
    padding-bottom: 4rem;

}

.caja1tabs {
    background-color: white;
    padding: 3.5rem;
    color: #181b32;
    font-weight: 700;
}

.contenedorslider {
    display: flex;
}

.track,
.tracks {
    overflow: hidden;
    animation: scroll 40s linear infinite;
}

.cajasbanner3 {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 5rem;
    margin: 0 auto;

}

.banner3 {
    background-color: #ffe4a6;
}

.cajabanner3 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 5rem;
    gap: 2.5rem;
}

h3.titulobanner3 {
    font-size: 2.4rem;
    line-height: 2.8rem;
    color: #181b32;
    font-weight: 600;
}

p.parrafobanner3 {
    color: var(--colorprincipal);
    font-size: 2rem;
    font-weight: 600;
    align-self: flex-start;
    max-width: 500px;
    margin: auto;
}

.video {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    margin-top: 5rem;
    padding-bottom: 4rem;

}

h5.presentacioncrehana {
    text-align: center;
    font-size: 4rem;
    color: var(--colorprincipal);
}

.iframe {
    width: 55%;
    min-width: 500px;

}

iframe {
    width: 100%;
    border-radius: 20px;
}

.botones .linksesion {
    text-decoration: none;
}

.banneroverflow {
    margin-top: 8rem;
    padding-bottom: 3rem;
    overflow: scroll;
    height: 800px;

}

.wrapperoverflow {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin: 0 auto;
    width: 80%;
    margin-top: 8rem;

}

.wrapperoverflow img {
    width: 100%;
    min-width: 500px;
}

.cajaunooverflow {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 3rem;
    padding-right: 4rem;


}

.pregunta {
    font-size: 3.2rem;
    color: var(--colorprincipal);
    font-weight: 700;
}

.parrafooverflow {
    font-size: 2rem;
}

.titulooverflow {
    font-size: 4rem;
    color: #181b32;
    font-weight: 600;
}

.subparrafo {
    font-size: 2.5rem;
    line-height: 35px;


}

.testimonios {
    background-color: #f7f8fa;
    padding-bottom: 4rem;
    padding-top: 4rem;
}

.titulartestimonios {
    font-size: 4rem;
    text-align: center;
    color: #181b32;

}

.cajastestimonio {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 4rem;
    margin-top: 3rem;
}

.contenidotestimonio {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.2rem;
    background-color: white;
    border-radius: 20px;
    text-align: center;
}

.nombretestimonio {
    font-size: 2rem;
    text-align: center;
    padding-top: 2rem;
}

.puestodetrabajo {
    font-size: 1rem;
    text-align: center;
}

.parrafotestimonio {
    font-size: 1.4rem;
    padding: 2.5rem;
}

.wrapper_equipos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 10rem;
    padding-bottom: 4rem;
    gap: 4rem;
}

.titulo_equipos {
    font-size: 5.2rem;
    line-height: 5rem;
    color: #181b32;
    font-weight: 700;
    text-align: center;
}

.subtitulo_equipos {
    font-size: 2rem;
}

.imagenequipos {
    text-align: center;
    background-image: url(./img/fondoequipos.jpg);
    background-repeat: no-repeat;
    background-position: center 2rem;
    width: 100%;
}

.pie {


    width: 90%;
    margin: 0 auto;
    margin-top: 12rem;
    margin-bottom: 5rem;
}

.wrapper_pie {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.cajapie1 {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.listacategorias {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1.3rem;

}

.titulopie {
    color: #181b32;
    font-size: 2rem;
    font-weight: 600;
}

.listacategorias li {
    font-size: 1.4rem;
    color: black;
    font-weight: 500;
}

.listacategorias li:hover {
    color: #0dc3b5;
}

.tituloboton {
    margin-bottom: 3rem;
}

.botonpie1,
.botonpie2 {
    background-color: #070e27;
    padding: 1.5rem;
    border-radius: 10px;
    color: white;
    font-size: 2rem;
    font-weight: 600;
}

.botonpie2 {
    margin-top: 1rem;
}
.cajaiconos{
    display: flex;
    justify-content: space-between;
    gap: 0.5rem;
    margin-top: 2rem;
}
.cajaiconos img{
cursor: pointer;
}


/**RESPONSIVE**/

@media (max-width:1230px) {
    .wrapperoverflow {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 2rem;
    }
  
}

@media (max-width:1075px) {

    section.banner1,
    .cabecera,
    .botonesRegistro,
    div.contenedor {
        background: var(--colorprincipal);
    }

    .cajapie1 {
        min-width: 205px;
    }

    .contenedorbanner1 {
        display: flex;
        flex-direction: column;
        gap: 3rem;
        align-items: center;
    }

    .cajacontenedor1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2rem;
    }

    .imagenbanner1 {
        margin-top: -4rem;
        min-width: 300px;
    }

    h1.titulo {
        text-align: center;
        padding-top: 5rem;
    }

    .botonesbanner1 {
        margin: 0 auto;
    }

    .imagenesempresas {
        width: 100%;
        overflow: hidden;
    }

    .contenedorimagenes {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 4rem;
        margin-top: 2rem;
    }

    .subtitulo {
        font-size: 2.5rem;
        text-align: center;

    }

    .mil {
        font-size: 3rem;
    }

    .imagenesimagenes {
        padding-bottom: 3rem;
    }

    .subtitulobanner2 {
        font-size: 2.5rem;
        line-height: 50px;
    }

    .cajastabs {
        display: flex;
        flex-direction: column;
        gap: 3.5rem;
    }

    .caja1tabs {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        max-width: 30rem;
        text-align: center;
    }

    .navegacion {
        display: none;
    }

    .contenedor {
        position: relative;
        padding-top: 3rem;
        display: flex;
        align-items: center;
    }

    .botonesRegistro {
        position: absolute;
        right: 1rem;

    }

    .menuresponsive {
        display: block;
        width: 3rem;
        cursor: pointer;
    }

    .cajasbanner3 {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 3.5rem;
    }

    .cajabanner3 {
        text-align: center;
        padding-top: 4rem;
    }

    .wrapper_pie {
        gap: 4rem;
    }
    .botonuno{
        color: white;
        background-color: var(--colorprincipal);
        border: 2px solid white;
        padding: 1.3rem 2rem;
    }
    .botones .linksesion{
        text-decoration: none;
        list-style: none;
        color: white;
    }
    .botondos{
        background-color: white;
        color: var(--colorprincipal);
        padding: 1.3rem 2rem;
    }


    @keyframes scroll {
        0% {
            transform: translateX(0);
        }

        100% {
            transform: translate(calc(-200px*10));
        }
    }

    body {
        position: relative;
    }

    .menuresp {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 2.5;
        border-right: 1px solid black;
        height: 100vh;
        overflow: scroll;
        z-index: 100;
        display: none;
        position: absolute;
        top: 0px;
        left: -5rem;
        background-color: white;
        max-width: 550px;


    }

    .cajatituloresp {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 90%;
        margin: 0 auto;
        padding-top: 2rem;
    }

    .menus {
        font-size: 1.5rem;
        font-weight: 400;
        color: #4b22f4;
        margin-left: 1rem;

    }

    .listaresp {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        padding-top: 2rem;
        margin-left: 1.5rem;

    }

    .listasres {
        border-bottom: 1px solid grey;
        padding: 2rem;
        color: #181b32;
        width: 80%;
        list-style: none;
        text-decoration: none;
        font-weight: 600;
        font-size: 1.7rem;

    }

    .cajabotonesresp {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1.5rem;
        margin-top: 3rem;
        padding-top: 1rem;
    }

    .cerrar {
        cursor: pointer;
    }

    .botonresp1 {
        padding: 2rem 3rem;
        background-color: #4b22f4;
        color: white;
        border: none;
        border-radius: 1rem;
        font-size: 2rem;
        width: 80%;
        margin: 0 auto;
        font-weight: 700;
    
    }

    .botonresp2 {
        padding: 2rem 3rem;
        border-color: #4b22f4;
        background-color: white;
        color: #4b22f4;
        border-radius: 1rem;
        font-size: 2rem;
        width: 80%;
        margin: 0 auto;
        font-weight: 700;
    }
    .botonresp2 a{
        text-decoration: none;
        color: var(--colorprincipal);
    }
    .menus {
        display: flex;
        align-items: center;
        gap: 1rem;
    }

    .cerrar {
        font-size: 1rem;
        font-weight: 400;
    }

    .iconoresp {
        margin-top: rem;
    }

    .menurespoToggle {
        display: block;

    }

    .overflow {
        overflow: hidden;
    }

    .overflows {
        overflow: visible;
    }
    .respb{
        font-size: 2rem;
        width: 70%;
       
    }
    .aprende{
        text-align: center;
        color: #878fb8;
        font-size: 1.5rem;
        font-weight: 600;
        margin-top: 1rem;
    }
    .abcd{
        margin-bottom: 1.5rem;
    }

}

@media (max-width:800px) {
    h1.titulo {
        font-size: 6.5rem;
    }

    .cajacontenedor1 {
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .parrafo1 {
        margin-bottom: 4rem;
    }

    .botonesbanner1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 4rem;
        margin-top: -4rem;
    }

    .botonesRegistro {
        display: none;
    }

    .menuresp {
        width: 100vw;

    }

    .none {
        display: none;
    }

    .imagenbanner1 .width {
        max-width: 100%;
        min-width: 200px;
    }

    .botonbanner1,
    .botondosbanner1 {
        font-size: 2.5rem;
    }

    .parrafo1 {
        text-align: center;
    }

    .tabuno {
        display: none;
        font-size: 1.5rem;
    }

    .tab {
        padding: 0 1.3rem;

    }

    .iframe {
        max-width: 85%;
        min-width: 500px;
        margin: 0 1rem;
    }

    .titulo_equipos {
        font-size: 4rem;
    }

    .subtitulo_equipos {
        text-align: center;
    }

    .cajabotonesequipo {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 4rem;
        margin-top: -4rem;
    }

    .botonequipo1 {
        margin-top: 4rem;
        background-color: #4b22f4;
        color: white;
    }

    .botonequipo2 {
        color: var(--colorprincipal);
        background-color: white;
    }

}

@media(max-width:536px) {
    .iframe {
        min-width: 390px;
    }

    .cajadosoverflow img {
        min-width: 360px;
    }

    .titulo_equipos {
        font-size: 3rem;
    }

    .subtitulo_equipos {
        font-size: 1.6rem;
    }

    .botonequipo1 {
        font-size: 2rem;
    }

    .botonequipo2 {
        font-size: 2rem;
    }
}

@media(max-width:408px) {
    .iframe {
        min-width: 345px;
    }

    .cajadosoverflow img {
        min-width: 280px;
    }

    .titulo_equipos {
        font-size: 2.6rem;
        line-height: 40px;
    }

    .subtitulo_equipos {
        font-size: 1.6rem;
        line-height: 25px;
    }

    .margin-left li {
        margin-left: 2rem;


    }
    .cajapie1 .titulopie{
        margin-left: 2rem;
    }
    .cajapie1 .software{
        margin-left: 0.1rem;
    }
}